%footer.footer
  %small
    %p traxter.io | (c) Ben Blackburn 2014
  %nav
    %ul
      %li
        %a{href: "#"} Facebook
      %li
        %a{href: "#"} Twitter
      %li
        %a{href: "#"} Github